<head>
    <style>
        .activetab{
            color: #356859;
        font-weight: bold;
        text-decoration: underline;
        }
        .alltab{
            margin: auto 50em;
        }
    </style>
</head>
<ul id = "semnav" class="list-inline" style="padding: 10px; text-align:center;background-color:#FFFBE6;">
    <li class="list-inline-item activetab"  ><a href="?sem=3"><button id = "3">3rd Semester</button></a></li>
    <li class="list-inline-item" ><a href = "?sem=4"><button id = "4">4th Semester</button></a></li>
    <li class="list-inline-item"><a href="?sem=5"><button  id = "5">5th Semester</button></a></li>
    <li class="list-inline-item" ><a href="?sem=6"><button id = "6">6th Semester</button></a></li>
    <li class="list-inline-item" ><a href="?sem=7"><button id = "7">7th Semester</button></a></li>
    <li class="list-inline-item"><a href="?sem=8"><button id = "8">8th Semester</button></a></li>
</ul>
<script>
    var sem = document.getElementById("semnav")
    mbtn = document.getElementById("<%=sem%>")
    mbtn.className += " activetab"
    var current = sem.getElementsByClassName("activetab");
    console.log(current)
    current.className = current[0].className.replace("activetab", "");  
</script>