<nav class="navbar fixed-top navbar-expand-lg  navbar-dark "
    style="background-image: linear-gradient( 109.6deg,  rgba(61,106,239,1) 11.2%, rgba(122,14,190,1) 70.2% );">
    <a class="navbar-brand" href="/">BoLi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="http://localhost:3000/textbook/?sem=3">TextBook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/notes/?sem=3">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/about">About</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            
        <% if(locals.isLogin){%>
        <li class="nav-item ">
            <a class="nav-link" href="http://localhost:3000/login">Login</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="http://localhost:3000/register">Register</a>
        </li>
        <% }else{%>
        <li class="nav-item ">
            <a class="nav-link" href="http://localhost:3000/profile">Profile</a>
        </li>
        <%}%>

        </ul>

    </div>
</nav>