<html>
    <form action="#" method="POST">
        Username:<br> <input type="text" name="username"><br>
        Password:<br><input type="text" name="password"><br>
        Confirm Password:<br> <input type="text" name="c_password"><br>
        <input type="submit" value="Submit"></form>
        <%= tagline %>
</html>