<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Textbooks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </head>
<body style=" background-color: bisque;">
<%- include('../partials/navigation') %>
    <form action="/upload" method="POST" enctype="multipart/form-data" style="text-align: center;
        font-size: 20px;
        font-family: Helvetica;
        padding: 5% 1%;
        margin: inherit;
        margin-top: 15%;
        margin-left: 25%;
        margin-right: 25%;
        color: rgb(75, 119, 0);
        border: solid darkolivegreen;">
            Sem:<br> 
            <select name = "semester">
                <option  value="3">III</option>
                <option  value="4">IV</option>
                <option  value="5">V</option>
                <option  value="6">VI</option>
            </select>
            <br>
            Subject:<br>
            
            <input list="subjects" name="subject" placeholder="Enter Subject" autocomplete="off">
            <datalist id="subjects">
                <option value="Mathematics 4"></option>
                <option value="Microprocessors"></option>
                <option value="Operating System"></option>
                <option value="Linux system programming"></option>
                <option value="Algorithm Design"></option>
                <option value="Internet and Web Technologies"></option>
                <option value="Database Management Systems"></option>
                <option value="OOPs with Java"></option>
                <option value="Computer Organisation"></option>
                <option value="Logic Design"></option>
            </datalist>
            <br>
            <input type="radio" name="category" value="textbook"> Textbook</input><br>
            <input type="radio" name="category" value="notes"> Notes</input><br>
            <input type="file" name="myFile" id = "myFile"></input><br>
            <input type = "submit" value=" Upload "></input>
        </form>
    
        
    </body>
</html>
